  <div class="wrapper wrapper-style2">
    <h2 class="title">Le Concept</h2>
    <div class="container">
      <div class="row">
        <div class="12u">

          <!-- Main -->
            <div id="main">

              <!-- Features -->
                <section class="features">
                  <header class="style1">
                    <h2><em>Hack.</em> <strike>Bullshit.</strike></h2>

                    <p class="byline">Les Fhacktory::* sont des hackathons, concours où l'objectif est de produire un prototype d'application en 24h chrono.</p>
                  </header>
                  <div class="feature-list">
                    <div>
                      <div class="row">
                        <div class="4u">
                          <section>
                            <h3 class="">Objectif : prototype</h3>
                            <p>L'objectif de chaque équipe est de construire un prototype fonctionnel, testable à la fin de l'épreuve. C'est la condition obligatoire pour être classé : aucun prix ne sera attribué sur la base d'un joli PPT !</p>
                          </section>
                        </div>
                        <div class="4u">
                          <section>
                            <h3 class="">&Eacute;valuation continue</h3>
                            <p>Notre jury d'experts techniques est présent pendant toute la durée du hackathon pour vous aider dans la réalisation de votre hack et pour décerner des prix aux plus talentueux.</p>
                          </section>
                        </div>
                        <div class="4u">
                          <section>
                            <h3 class="">Critères d'évaluation</h3>
                            <p>Fhacktory met un point d'honneur à évaluer l'exécution, plutôt que l'idée du hack : complexité &amp; risque technologique, taux de code neuf, éventuelle acquisition utilisateur, ...</p>
                          </section>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              <!-- /Features -->

              <hr />

              <!-- Features -->
                <section class="features">
                  <header class="style1">
                    <h2>Ouvert à tous les <em>makers</em></h2>
                    <p class="byline">Peut importe qui vous êtes, tant que vous <em>faites</em></p>
                  </header>
                  <div class="makers-list">
                    <div>
                      <div class="row">
                        <div class="4u">
                          <section>
                            <header class="fa fa-code-fork"></header>
                            <h3 class="">Hacker</h3>
                            <p>Vous aimez le code (et/ou le hardware !) et vous ne vous laissez jamais arrêter par une lib que vous ne connaissez pas. Vous construisez le monde de demain à coup de <code>`git push`</code> !</p>
                          </section>
                        </div>
                        <div class="4u">
                          <section>
                            <header class="fa fa-code"></header>
                            <h3 class="">(UI/UX) Designer</h3>
                            <p>L'Interface Homme-Machine, c'est votre truc. Avec un peu de Photoshop et de CSS, vous guidez l'utilisateur pendant son expérience avec votre application.</p>
                          </section>
                        </div>
                        <div class="4u">
                          <section>
                            <header class="fa fa-dashboard"></header>
                            <h3 class="">Growth Hacker</h3>
                            <p>Les études de marché c'est dépassé, vous préférez l'action : twitter, HN, reddit,&nbsp;... vous saurez faire parler de votre équipe en 24h... et mesurer les retours !</p>
                          </section>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              <!-- /Features -->

              <hr />

              <!-- Features -->
                <section class="features">
                  <header class="style1">
                    <h2>Bring your <em>talent</em>, we bring the <em>fun</em></h2>
                    <p class="byline">Concentrez vous sur votre code, on s'occupe du reste.</p>
                  </header>

                  <div class="row">
                    <div class="12u">

                      <!-- Highlights -->
                        <div class="highlights">
                          <div>
                            <div class="row">
                              <div class="4u">
                                <section class="highlight">
                                  <img class="image image-full" src="images/fhacktory-lacordee.jpg" alt="" />
                                  <h3>Accueil tout confort</h3>
                                  <p>Fhacktory dure tout un week-end, nous nous arrageons donc pour vous accueillir comme il se doit !</p>
                                </section>
                              </div>
                              <div class="4u">
                                <section class="highlight">
                                  <img class="image image-full" src="images/fhacktory-alloresto.jpg" alt="" />
                                  <h3>Buffet (bien) garni</h3>
                                  <p>De quoi irriguer vos neurones pendant toute la durée de l'épreuve, en quantité et qualité.</p>
                                </section>
                              </div>
                              <div class="4u">
                                <section class="highlight">
                                  <img class="image image-full" src="images/fhacktory-retrogaming.jpg" alt="" />
                                  <h3>Distractions</h3>
                                  <p>Parce que vous serez aussi là pour vous amuser ;)</p>
                                </section>
                              </div>
                            </div>
                          </div>
                        </div>
                      <!-- /Highlights -->

                    </div>
                  </div>


                </section>
              <!-- /Features -->

            </div>
          <!-- /Main -->
          
        </div>
      </div>
    </div>
  </div>
