		<!-- Footer Wrapper -->
			<div id="footer-wrapper" class="wrapper">
				<h2 class="title">Restons en contact !</h2>
				<div class="container">
					<div class="row">
						<div class="12u">

							<!-- Footer -->
								<div id="footer">
									<div>
										<div class="row">
											<div class="12u">
											
												<!-- Contacts -->
													<section class="footer-two">
														<div class="feature-list feature-list-small">
															<div>
																<div class="row">
																	<div class="12u">
                                    <section>
                                      <h3 class="fa fa-twitter"><a target='_blank' href="https://twitter.com/fhacktory">@fhacktory</a></h3>
                                      <h3 class="fa fa-facebook"><a target='_blank' href="https://facebook.com/fhacktory">fhacktory</a></h3>
									</section>


                                    <section style="text-align:center;">
										<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://widget.mailjet.com/48115653cebb2bf208847c9154cb17502d55677f.html" width="300" height="146"></iframe>
									</section>

																	</div>
																</div>
															</div>
														</div>
													</section>
												<!-- /Contacts -->
													
											</div>
										</div>
									</div>
									<hr />
								</div>
							<!-- /Footer -->

							<!-- Copyright -->
								<div id="copyright">
									<span>
										&copy; Fhacktory 2014. Tous droits réservés.
									</span>
								</div>
							<!-- /Copyright -->
						
						</div>
					</div>
				</div>
			</div>
		<!-- /Footer Wrapper -->
