<!-- Intro Wrapper -->
  <div id="intro-wrapper" class="wrapper wrapper-style1">
    <h2 class="title">&Eacute;vénements passés</h2>
    <div class="container">
      <div class="row">
        <div class="12u">
            <div class="row events">

            {% assign sorted_pages = (site.pages | sort: 'period') %}
            {% assign first = 1 %}
            {% for evt in site.pages reversed %}
            {% if evt.category == 'event' %}

            {% if first == 1 %}
                {% assign first = 0 %}
            {% else %}
            <div class="4u">
              <section>
              <h3>{{ evt.title }}</h3>
                <div class="byline">{{ evt.date }}</div>
                <div class="byline">{{ evt.lieu }}</div>
              </section>
            </div>
            {% endif %}

            {% endif %}
            {% endfor %}
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
<!-- /Intro Wrapper -->
