<!-- Intro Wrapper -->
<div id="intro-wrapper" class="wrapper wrapper-style1">
    <h2 class="title">Dernier &eacute;vénement</h2>

    <div class="container">

        <div class="row">
            <div class="12u">

                <section id="events">

                    <div class="row">

                        {% assign sorted_pages = (site.pages | sort: 'period') %}
                        {% assign first = 1 %}
                        {% for evt in site.pages reversed %}
                        {% if evt.category == 'event' %}
                        {% if first == 1 %}
                        {% assign first = 0 %}
                        <div class="12u event">
                            <h3>{{ evt.title }}</h3>
                            <div class="byline">{{ evt.date }} - {{ evt.lieu }}</div>
<!--
                            <a href="{{ evt.tickets }}" target="_blank"
                               class="button button-style3">Je veux une place !!</a>
							   -->
                        </div>
                        {% endif %}
                        {% endif %}
                        {% endfor %}

                        <!--
                        <div class="4u event">
                            <h3>fHACKtory</h3>

                            <div class="byline">Intéressé pour monter un fHACKtory dans ta ville ?</div>
                            <a href="mailto:contact@fhacktory.com" class="button button-style3">Contactes-nous !</a>

                        </div>
                        -->
                    </div>

                </section>

            </div>
        </div>
		
		<br>
		
		<img class="image image-featured" src="images/hackathon_oct_2019.jpg" alt=""/>
		
    </div>
</div>
<!-- /Intro Wrapper -->
