<style>
	.event iframe {
		width: 100% !important;
		min-height: 385px !important;
	}
</style>
<div id="intro-wrapper" class="wrapper wrapper-style2">
    <h2 class="title">&Eacute;vénements à venir</h2>

    <div class="container">

        <div class="row">
            <div class="12u">

                <section id="events">

                    <div class="row">
                        <div class="12u event">
                            <h3>Hackathon fHACKtory</h3>
                            <div class="byline">16 et 17 Mai 2020 - Campus Ynov, Lyon</div>
							
							<iframe width="540" height="305" src="https://68e8c40c.sibforms.com/serve/MUIEAHydsJtE5_KrQ_ECGL7bd1008MwOuBSXe3Ya58pdgv067qVgycLSh8Wu7K4cB4tu-CB2c8ORAdKdIMyI-IO2H0JMub-_po7gGLQ9JJpD0yj4o6H9ty-I4PPrgkEjorxQkvh-MgXXmajdeToeHtZvwrr8i1xzYyQCEEtkSEETOVhhUf0gZhwF5OLWOdZbZgn1aznxYRHqufvs" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>
                        </div>
						
                    </div>

                </section>

            </div>
        </div>
    </div>
</div>
