<div class="wrapper wrapper-style1">
    <h2 class="title">Les partenaires</h2>

    <div class="container">
        <div class="row">
            <div class="12u">

                <div class="sponsors">
                    <div class="row">
                        <div class="6u">
                            <section>
                                <a href="http://fst-informatique.univ-lyon1.fr" target="_blank">
                                    <img class="image-full" src="/images/logo-sponsors/logo-fst-info-officiel-couleur-300dpi.jpg"/>
                                </a>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
