<div class="wrapper wrapper-style2">
    <h2 class="title">Les sponsors</h2>

    <div class="container">
        <div class="row">
            <div class="12u">

                <div class="sponsors">
                    <div class="row">
						<!--
                        <div class="4u">
                            <section class="highlight">
                                <a href="http://www.ldlc.com/" target="_blank">
                                    <img class="image-full" src="images/logo-sponsors/ldlc.png"/>
                                </a>
                            </section>
                        </div>
						-->
						<div class="4u">
                            <section class="highlight">
                                <a href="https://www.cirilgroup.com/fr/" target="_blank">
                                    <img alt="Logo Ciril Group" class="image-full" src="images/logo-sponsors/logo_ciril_group_resized.png"/>
                                </a>
                            </section>
                        </div>
						<div class="4u">
                            <section class="highlight">
                                <a href="https://www.vivlio.fr/" target="_blank">
                                    <img alt="Logo Vivlio" class="image-full" src="images/logo-sponsors/vivlio_resized.png"/>
                                </a>
                            </section>
                        </div>
					</div>
					<div class="row">
                        <div class="4u">
							<section>
                                <a href="https://www.ynov-lyon.com/" target="_blank">
                                    <img alt="Logo Campus Ynov Lyon" class="image-full" src="images/logo-sponsors/logo_ynov_campus_lyon_resized.png"/>
                                </a>
                            </section>
						</div>
						<div class="4u">
                            <section>
                                <a href="https://rtone.fr/" target="_blank">
                                    <img alt="Logo RTone" class="image-full" src="images/logo-sponsors/logo-rtone.png"/>
                                </a>
                            </section>
                        </div>
                    </div>
					<!--
                    <div class="row">
                        <div class="2u">
                            <section>
                                <a href="http://www.github.com/" target="_blank">
                                    <img class="image-full" src="images/logo-sponsors/github-text-nb.png"/>
                                </a>
                            </section>
                        </div>
                    </div>
					-->
					<div style="text-align:center;font-size: 28px;">
							<p>Pour devenir sponsor <a style="color: black !important;" href="https://drive.google.com/a/fhacktory.com/file/d/1gNpcjvzNmo_Btgm6uCLGNFoYAkYA9iIl/view?usp=sharing">téléchargez le PDF</a></p>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
