  <div class="wrapper wrapper-style2">
    <h2 class="title">Les sponsors</h2>
    <div class="container">
      <div class="row">
        <div class="12u">

            <div class="sponsors">
              <div class="row">
                <div class="4u">
                  <a href="http://www.ldlc.com/" target="_blank">
                    <img class="image-full" src="images/logo-sponsors/ldlc.png" />
                  </a>
                  <a href="https://deliveroo.fr/" target="_blank">
                    <img class="image-full" src="images/logo-sponsors/deliveroo.png" />
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="2u">
                  <a href="http://www.github.com/" target="_blank">
                    <img class="image-full" src="images/logo-sponsors/github-text-nb.png" />
                  </a>
                  <a href="https://www.maddyness.com/" target="_blank">
                    <img class="image-full" src="images/logo-sponsors/maddyness.png" />
                  </a>
                  <br />
                  <br />
                  <h2>PARTENAIRES</h2>
                  <br />
                  <br />
                  <a href="http://fst-informatique.univ-lyon1.fr" target="_blank">
                    <img class="image-full" src="images/logo-sponsors/dpt-informatique.gif" />
                  </a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
